[user]
  name = Gabriel Rocha
  email = rochafrgabriel@gmail.com

[core]
  editor = nvim
  ;editor = vim
  pager = delta

[delta]
  line-number = true

[interactive]
  diffFilter = delta --color-only
